body {
    margin: 0px;
    background: rgb(186, 144, 198);
    background: linear-gradient(180deg, var(--purple) 5%, var(--lavender) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    --lavender: #e2caf7;
    --white: #fdf2fa;
    --purple: #a93dc7;
}

header {
    display: flex;
    justify-content: center;
    height: 20vh;
    min-height: 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1300px;
}

.header-title {
    display: flex;
    align-items: center;
    color: var(--white);
    margin-right: 50px;
}

.header-title img {
    width: 48px;
    image-rendering: pixelated;
    margin-right: 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-button {
    margin: 5px;
    font-size: x-large;
    background: none;
    font-weight: 600;
    transition: width 0.5s;
    border-style: none;
    border-radius: 8px;
    color: var(--white);
}

.nav-button::after {
    content: "";
    width: 0%;
    height: 4px;
    background: var(--white);
    display: block;
    transition: width 0.4s;
}

.nav-button:hover {
    background: #00000021;
    border-radius: 8px;
    cursor: pointer;
}

.nav-button-selected::after {
    width: 100%;
}

.header-button {
    background-color: var(--white);
    color: var(--purple);
    font-weight: bold;
    margin-left: 5px;
}

.header-button:hover {
    background-color: var(--lavender) !important;
    color: var(--purple) !important;
}

.header-button svg {
    width: 24px;
    height: 24px;
}

.modal-menu {
    background-color: var(--lavender) !important;
    font-size: large;
    font-weight: bold;
}

.ant-modal-content {
    background-color: var(--lavender) !important;
}

.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.66) !important;
}

.ant-message-notice-content {
    background-color: var(--white) !important;
    font-family: 'Roboto', sans-serif;
}

.anticon-info-circle {
    color: var(--purple) !important;
}

.anticon-calendar svg {
    color: black;
    width: 16px;
    height: 16px;
}

.ant-picker-suffix {
    order: -1;
    margin-inline-start: 0 !important;
    margin-inline-end: 4px;
}

.ant-skeleton-avatar-circle {
    width: 20px !important;
    height: 20px !important;
    margin-left: 10px;
}

.ant-skeleton-input {
    width: 160px !important;
    height: 20px !important;
}

.ant-picker {
    width: 100%;
    cursor: pointer;
}

.ant-picker-disabled,
.ant-picker-disabled input {
    cursor: default !important;
    background-color: var(--white) !important;
}

.ant-picker-disabled input::placeholder {
    color: rgba(0, 0, 0, 0.88) !important;
}

.planner-section {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tasks-section {
    width: 100%;
    height: 80vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.day-card {
    width: 230px;
    height: 320px;
    padding: 3px;
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 25px;
    transition: transform 0.25s;
    overflow: hidden;
    background-image: linear-gradient(135deg, #5B42F3, #9c19fa);
}

.day-card:hover {
    box-shadow: 0px 0px 25px purple;
    transform: scale(1.05);
}

.day-card-body {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 22px;
    box-sizing: border-box;
    background-color: var(--white);
}

.card-title {
    display: flex;
    justify-content: center;
}

.card-title-icon {
    font-size: large;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.tasks-card:hover .card-title-icon,
.day-card:hover .card-title-icon {
    opacity: 1;
}

.tasks-card .card-title-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.card-title-icon:hover {
    color: var(--purple);
}

.card-date {
    color: var(--purple);
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    white-space: pre-line;
}

.day-card-list {
    padding: 0;
    font-size: large;
    list-style: none;
    margin: 0;
    margin-left: 10px;
    height: 250px;
    overflow-y: auto;
}

.task-item {
    margin-bottom: 10px;
}

.task-item:hover {
    color: var(--purple);
}

.task-item:hover .task-icon {
    fill: none;
    color: black;
}

.task-icon {
    fill: var(--purple);
    color: transparent;
    height: 15px;
    width: 15px;
    display: block;
}

.task-icon:hover {
    color: var(--purple) !important;
    cursor: pointer;
}

.task-content {
    font-weight: bold;
    word-break: break-word;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
}

.tasks-card {
    width: 460px;
    height: auto;
    max-height: 91%;
    padding: 3px;
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 25px;
    transition: transform 0.25s;
    overflow: hidden;
    background-image: linear-gradient(135deg, #5B42F3, #9c19fa);
}

.tasks-card:hover {
    box-shadow: 0px 0px 25px purple;
    transform: scale(1.02);
}

.tasks-card-body {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 22px;
    box-sizing: border-box;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.tasks-card-list {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: large;
    list-style: none;
    overflow-y: auto;
}

.tasks-card-message {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--lavender);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--purple);
}

/* Medium size screens */
@media only screen and (max-width: 980px) {
    .tasks-card {
      width: 45%;
    }

    .header-title img {
        display: none;
    }
  }

/* Small screens */
@media only screen and (max-width: 600px) {
    .day-card,
    .tasks-card {
      width: 90vw;
    }

    .ant-skeleton-input {
        width: 70vw !important;
    }

    .nav-button {
        padding: 0;
        margin-right: 10px;
    }

    .nav-button:hover {
        background: none;
    }

    .header-title {
        margin-right: 20px;
    }
}